<br>
<div align="center">
  <ngb-carousel interval="6000" style="width:800px">
      <ng-template ngbSlide>
        <div align="center">
          <img src="assets/images/carouselImages/newImage2.jpg" alt="slide1">
          <div class="carousel-caption">
            <h2>Find out about every single Pokémon out there</h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div align="center">
          <img src="assets/images/carouselImages/carouselImage2.jpg" alt="slide2">
          <div class="carousel-caption">
            <h2>Get our fresh recommendations for the Pokémon best suited for you</h2>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div align="center">
          <img src="assets/images/carouselImages/pokemonTeam.png" alt="slide3">
          <div class="carousel-caption">
            <h2>Share your dream team with everyone else and get feedback</h2>
          </div>
        </div>
      </ng-template>
  </ngb-carousel>
</div>
