<div align="center">
  <h4>PokéSearch</h4>
  <br>
  <br>
  <div class="row">
    <div class="col-md-9">
      <input type="text" class="form-control" style="width:800px" #searchTerm>
    </div>
    <div class="col-md-3">
      <button style="cursor: pointer" class="btn btn-success" (click)="search()">Search For Pokémon</button>
    </div>
  </div>
  <br>
  <br>
  <div align="center">
    <p>Type in a search term above and press the button to get a list of the Pokémon you're looking for</p>
    <p>You can search by Pokémon forme, species, type, ability, or egg group</p>
  </div>
</div>
