<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color:#00cc66">
    <a class="navbar-brand" routerLink="/">PokéStar</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/browse" routerLinkActive="active">PokéBrowse<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>
