<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color:#00cc66">
    <a class="navbar-brand" routerLink="/">PokéStar</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/browse" routerLinkActive="active">PokéBrowse<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/signup" *ngIf="!authService.isAuthenticated()">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/signin" *ngIf="!authService.isAuthenticated()">Login</a>
          </li>
          <li class="nav-item active">
            <a style="cursor:pointer" class="nav-link" (click)="signOut()" *ngIf="authService.isAuthenticated()">Log Out</a>
          </li>
      </ul>
    </div>
</nav>
