.list-group-item {
    color: white;
}

.pokemon {
    background-color: #4f4f4f;
    color: white;
}

.pokemon-list {
    height:300px;
    overflow: scroll
}

.selected {
    background-color: #00cc66;
}
