<br>
<h3 align="center">PokéBrowse</h3>
<div align="center">
  <label style="cursor:pointer" class="btn btn-danger" (click)="showFilter()">PokéFilter</label>
  <label style="cursor:pointer" class="btn btn-danger" (click)="showSearch()">PokéSearch</label>
</div>
<br>
<br>
<app-filter-browse (typeClicked)="backToBrowse()" *ngIf="!seeSearch"></app-filter-browse>
<app-pokemon-search-browse (searchEntered)="backToBrowse()" *ngIf="seeSearch"></app-pokemon-search-browse>
<!--<app-pokemon-search-browse (searchEntered)="backToBrowse()"></app-pokemon-search-browse>-->
<br>
<h5 align="center">Pokémon Results</h5>
<br>
<p>{{ visiblePokemon.length }} {{ visiblePokemon.length != 1 ? 'results' : 'result' }} found</p>
<div class="row">
  <div class="col-md-4">
    <div class="pokemon-list" style="background-color:#1f1f1f">
      <ul>
        <a style="cursor: pointer" class="list-group-item"
          *ngFor="let pokemon of visiblePokemon" (click)="choosePokemon(pokemon)"
          [ngClass]="(selectedPokemon == pokemon) ? 'selected' : 'pokemon'">
          {{ pokemon.forme }}</a>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
