<br>
<h3 align="center">PokéBrowse</h3>
<br>
<div class="row">
  <div class="col-md-4">
    <p>Select the types of the Pokémon you wish to look at. Once you select a Pokémon, you can check out its stats as well as any other forms it may have.</p>
  </div>
  <div class="col-md-4">
    <div class="type-list">
      <ul>
        <a style="cursor: pointer" class="list-group-item" *ngFor="let type of firstList"
          [ngClass]="(type1 != type) ? type : 'active'" (click)="selectType1(type)">
          {{ type }}</a>
      </ul>
    </div>
  </div>
  <div *ngIf="type1 != null" class="col-md-4">
    <div class="type-list">
      <ul>
        <a style="cursor: pointer" class="list-group-item" *ngFor="let type of secondList"
          [ngClass]="(type2 != type) ? type : 'active'" (click)="selectType2(type)">{{ type }}</a>
      </ul>
    </div>
  </div>
</div>
<br>
<h5 align="center">Pokémon Results</h5>
<br>
<p>{{ visiblePokemon.length }} {{ visiblePokemon.length != 1 ? 'results' : 'result' }} found</p>
<div class="row">
  <div class="col-md-4">
    <div class="pokemon-list" style="background-color:#1f1f1f">
      <ul>
        <a style="cursor: pointer" class="list-group-item"
          *ngFor="let pokemon of visiblePokemon" (click)="choosePokemon(pokemon)"
          [ngClass]="(selectedPokemon == pokemon) ? 'active' : 'pokemon'">
          {{ pokemon.forme }}</a>
      </ul>
    </div>
  </div>
  <!--<div *ngIf="!pokemonSelected" class="col-md-8">
      <app-select-prompt></app-select-prompt>
  </div>
  <div *ngIf="pokemonSelected" class="col-md-8">
      <app-pokemon-view></app-pokemon-view>
  </div>-->
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
